body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("./img/bg1.jpg");
}

body::-webkit-scrollbar {
  width: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 36px;
}

button {
  background-color: #fff;
  color: #222;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.modal-content button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #232323;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all;
}

.modal-content button:hover {
  background-color: #03448a;
  transition: 0.2s all;
}

.modal-content h2 {
  margin-top: 0;
}
