<!DOCTYPE html>
<html>
<head>
    <title>JEDrock - Error</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class="error-block">
        <h1 class="err-h">Произошла ошибка!</h1>
        <p class="err-p">Вы не авторизированы.</p>
        <div class="btns-err">
            <a class="err-btn" href="index">Войти</a>
        </div>
    </div>

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/script.js"></script>
</body>
</html>
