<!DOCTYPE html>
<html>
<head>
    <title>JEdrock - ошибка</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class="error-block">
        <h1 class="err-h">Произошла ошибка!</h1>
        <p class="err-p">Вы не авторизированы.</p>
        <div class="btns-err">
            <button class="btn-login-main" onclick="oAuth()">Войти</button>
            <script>
                function oAuth() {
                    location.replace("https://discord.com/api/oauth2/authorize?client_id=1095721219275358330&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2F&response_type=code&scope=identify")
                }
            </script>
        </div>
    </div>

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/script.js"></script>
</body>
</html>
