<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Официальный сайт JEdrock. Здесь вы сможете найти адреса для входа. На наши сервера можно войти с последней версией Minecraft Bedrock Edition">
  <meta name="keywords" content="JEdrock,lifewell,minecraft,mcbe,vanilla,ванилла,1.19">

  <meta property=”og:title” content="Официальный сайт JEdrock" />
  <meta property=”og:description” content="Присоединяйся к нам прямо сейчас!" />
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <title>JEdrock | Политика конфиденциальности</title>
</head>

<body>
  <div class="container">
    <div class="konf-title">
      <h1>Политика конфиденциальности <img src="/assets/img/book.webp" width="30px" alt=""></h1>
      <p>Обязательно для ознакомления всем пользователям нашего проекта.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Сбор информации</h2>
      <p class="conf-txt">Мы можем собирать следующую информацию о пользователях нашего сайта:</p>
      <p class="conf-txt">Имя и адрес электронной почты для регистрации аккаунта;</p>
      <p class="conf-txt">Данные о платежах за покупку доступа к серверу, включая номера кредитных карт и прочие данные
        об оплате;</p>
      <p class="conf-txt">Информацию о вашем компьютере, IP-адресе, типе браузера, операционной системе и другие
        технические данные, которые могут быть собраны автоматически при использовании нашего сайта.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Использование информации</h2>
      <p class="conf-txt">Мы используем собранную информацию для следующих целей:</p>
      <p class="conf-txt">Регистрации аккаунта на нашем сайте и предоставления доступа к Minecraft серверу;</p>
      <p class="conf-txt">Обработки платежей за доступ к серверу;</p>
      <p class="conf-txt">Анализа трафика на сайте и улучшения наших услуг;</p>
      <p class="conf-txt">Обеспечения безопасности нашего сайта и защиты от мошенничества;</p>
      <p class="conf-txt">Связи с вами по поводу вашего аккаунта, платежей и других вопросов, связанных с нашим сайтом.
      </p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Раскрытие информации</h2>
      <p class="conf-txt">Мы не продаем, не сдаём и не раскрываем вашу персональную информацию третьим лицам, за
        исключением случаев, когда это необходимо для предоставления вам услуг, которые вы запросили, или когда мы
        обязаны делать это в соответствии с законом или правилами.</p>
    </div>


    <div class="conf element-animation">
      <h2 class="conf-tit">Защита информации</h2>
      <p class="conf-txt">Мы принимаем меры для защиты вашей персональной информации от несанкционированного доступа,
        изменения, раскрытия или уничтожения. Мы регулярно аудитим наши системы и процессы на наличие уязвимостей и
        обновляем их, чтобы обеспечить максимальную защиту.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Согласие с политикой конфиденциальности</h2>
      <p class="conf-txt">Используя наш сайт, вы соглашаетесь с нашей политикой конфиденциальности. Если вы не согласны
        с этой политикой, пожалуйста, не используйте наш сайт.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Изменения в политике конфиденциальности</h2>
      <p class="conf-txt">Мы можем периодически обновлять нашу политику конфиденциальности. Мы сообщим вам об
        изменениях, разместив новую версию на этой странице. В случае, если вы продолжаете использовать наш сайт после
        внесения изменений, это будет означать ваше согласие с обновленной политикой конфиденциальности.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Ваше право на доступ и изменение информации</h2>
      <p class="conf-txt">Вы можете запросить доступ к вашей персональной информации, которую мы храним, и/или попросить
        нас изменить, исправить или удалить ее. Если вы хотите воспользоваться этим правом, пожалуйста, свяжитесь с нами
        через контактную форму на нашем сайте.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Обеспечение безопасности операций с реквизитами карт:</h2>
      <p class="conf-txt">Оплатить заказ можно банковскими картами Visa, Master Card, «Мир» или через платежные системы
        Apple Pay, Qiwi, СБП. Чтобы оплатить покупку, вы будете перенаправлены на сервер платежной системы Unitpay, на
        котором нужно ввести необходимые данные. При оплате банковской картой безопасность платежей гарантирует
        процессинговый центр Unitpay.
        Платежная система Unitpay обладает подтвержденным сертификатом соответствия требованиям стандарта PCI DSS в
        части хранения, обработки и передачи данных держателей карт. Стандарт безопасности банковских карт PCI DSS
        поддерживается международными платежными системами, включая MasterCard и Visa, Inc. Система Unitpay также
        является участником программы непрерывного соответствия Compliance Control PCI DSS Compliance Process
        (P.D.C.P.). Ваши конфиденциальные данные, необходимые для оплаты (реквизиты карты, регистрационные данные и
        др.), не поступают в интернет-магазин — их обработка производится на стороне процессингового центра Unitpay и
        полностью защищена.</p>
    </div>

    <div class="conf element-animation">
      <h2 class="conf-tit">Контактная информация</h2>
      <p class="conf-txt">Если у вас есть вопросы или предложения по нашей политике конфиденциальности, пожалуйста,
        свяжитесь с нами через контактную форму на нашем сайте.</p>
    </div>

    <div class="main-btn text-center element-animation">
      <a class="btn-main" href="/index">На главную</a>
    </div>
  </div>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer">
            <ul class="footer-ul">
              <li class="footer-li">
                <p class="footer-name">Контакты:</p>
              </li>
              <li class="footer-li"><a href="alphabaqpla@outlook.com">EMail: alphabaqpla@outlook.com</a></li>
              <li class="footer-li"><a href="">Телефон: +79520800416</a></li>
              <li class="footer-li"><a href="">Адрес: 119021, г. Москва, Фрунзенская набережная, д. 12</a></li>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="footer">
            <ul class="footer-ul">
              <li class="footer-li">
                <p class="footer-name">Полезные Ссылки:</p>
              </li>
              <li class="footer-li"><a href="https://mineserv.top/jedrock?vote">Проголосовать</a></li>
              <li class="footer-li"><a href="/oferta">Договор оферты</a></li>
              <li class="footer-li"><a href="/politconf">Политика конфиденциальности</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="ip">Проект JEdrock никак не относится к Mojang, AB. <br>
      ИП Карташов Тимур Михайлович
      | ИНН 024505942067
      | ОГРН 318028000117490</p>
    <p class="copy">© 2023 JEdrock.fun Все права защищены.</p>
    <div class="footer-img">
      <div class="d"><img src="/assets/img/mk.png" alt=""></div>
      <div class="d"><img src="/assets/img/visa.png" alt=""></div>
      <div class="d"><img src="/assets/img/mir.png" alt=""></div>
      <div class="d"><img src="/assets/img/sbp.png" alt=""></div>
    </div>
    <hr>
    <p class="dev text-center">Developed: <a class="gradient" href="https://t.me/dgilyazov">GilazovDEV</a>
    </p>
  </footer>

  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/script.js"></script>
</body>

</html>