body {
  font-family: "Montserrat";
  font-style: normal;
  color: #ffffff;
  background: #15121a;
  /* background: linear-gradient(0.43deg, rgba(0, 0, 0, 0.7) 0.39%, rgba(35, 29, 45, 0.7) 99.64%), url('../img/image2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; */
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

/* navbar */

.navbar {
  margin-top: 10px;
}

.navbar-brand {
}

.nav-item {
  margin-right: 16px;
  margin-left: 16px;
}

.nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover {
  color: #ffffff;
}

.navbar-toggler {
  background-color: none;
  border: none;
}

.navbar-toggler-icon {
  background-image: url("../img/menu.png");
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.btn-login {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background: rgba(85, 66, 116, 0.1);
  border: 2px solid #403159;
  backdrop-filter: blur(16px);
  border-radius: 32px;
  padding: 8px 32px;
  margin-left: 32px;
  transition: all 0.3s;
}

.btn-login:hover {
  border: 2px solid #ffffff;
  transition: all 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  padding: 20px;
  text-align: center;
}

.f-dev {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #403159;
  text-decoration: none;
}

.dev {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

/* main */

.main {
  margin-top: 200px;
}

.main__block {
  margin: 0px;
}

.main-title {
  margin: 0px;
  margin-bottom: 10px;
}

.m-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin: 0px;
}

.main-text {
  margin: 0px;
}

.m-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
  margin-bottom: 20px;
}

.btn-login-main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background: rgba(85, 66, 116, 0.1);
  border: 2px solid #403159;
  backdrop-filter: blur(16px);
  border-radius: 32px;
  padding: 8px 32px;
  transition: all 0.3s;
}

.btn-login-main:hover {
  border: 2px solid #ffffff;
  transition: all 0.3s;
}

.q {
  float: right;
  margin-top: -50px;
}

/* ACCOUNT CSS */

.main-account {
  margin-top: 50px;
}

.ll {
  /* display: flex;
  flex-direction: column; */
}

.acc-nav {
  width: 405px;
  height: 250px;
  background: rgba(85, 66, 116, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
}

.acc-acc {
  width: 842px;
  height: 704px;
  background: rgba(85, 66, 116, 0.1);
  border-radius: 16px;
  margin: 20px;
}

.ul-acc {
  padding: 0px;
  list-style: none;
}

.li-acc {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 20px;
  transition: all 0.3s;
}

.a-acc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.li-acc:hover {
  padding: 8px 20px;
  background: #a782e6;
  border-radius: 32px;
  transition: all 0.3s;
}

.about-us {
  margin-top: 100px;
}

.contacts {
  margin-top: 100px;
}

.txt {
  padding-top: 100px;
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

/* account-main */

.account-main {
  padding: 20px;
}

.account-block {
  margin: 0px;
  padding: 0px;
}

.my-acc {
}

.my-acc-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin: 0px;
}

/* .client-backgr {
  margin-top: 16px;
  margin-bottom: 32px;
  width: 100%;
  height: 136px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
    url("../img/slide-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
} */

.block-client {
  display: flex;
  padding: 16px;
}

.client-text {
  margin: 16px;
}

.cl-txt {
  font-family: "Montserrat";

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
}

.cl-nick {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin: 0px;
}

.cl-image {
  width: 100px;
  border-radius: 100px;
}

.gray {
  color: rgba(255, 255, 255, 0.6);
}

/* details */

.details__main {
  margin-top: 32px;
  margin-bottom: 32px;
}

.details-block {
}

.d-tit {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin: 0px;
}

.d-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.change {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
  margin-left: 5px;
  transition: all 0.3s;
}

.nick,
.email {
  margin-right: 5px;
}

.change:hover {
  color: #a782e6;
  transition: all 0.3s;
}

/* OUT */

.out__main {
  margin-top: 32px;
  margin-bottom: 32px;
}

.out-block {
}

.out-p {
  display: flex;
  align-items: center;
}

.out-s {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 16px;
  transition: all 0.2s;
}

.out-s:hover {
  color: #a782e6;
  transition: all 0.2s;
}

/* NOTIFICATION */

.notification-main {
  /* width: 842px; */
  height: 704px;
  overflow-y: auto;
  padding: 20px;
}

.notification-main::-webkit-scrollbar {
  width: 0px;
  background-color: none;
}


.notification__border {
  padding: 16px;
  background: rgba(85, 66, 116, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-notif {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 20px;
}

.notif-title {
  margin-bottom: 16px;
}

.n-tit {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
}

.notif-text {
}

.n-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
}

.notif-date {
  margin-top: 20px;
}

.n-d {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
}

.notif-img {
  width: 400px;
}

/* transation */

.acc-tran {
  width: 842px;
  height: 304px;
  background: rgba(85, 66, 116, 0.1);
  border-radius: 16px;
  overflow: auto;
  margin: 20px;
}

.trancs-main {
  padding: 20px;
}

.trancs-block {
  margin: 0px;
  margin-bottom: 32px;
}

.tran-title {
  margin: 0px;
}

.t-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 8px;
}

.tran-txt {
  margin: 0px;
}

.t-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
}

.trancs-list {
  display: flex;
}

.ul-date,
.ul-amount,
.ul-product,
.ul-payment,
.ul-price,
.ul-status {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.li-tran {
}

.date-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

/* ERROR PAGE */

.error-block {
  margin-top: 100px;
  text-align: center;
}

.btns-err {
  margin-top: 20px;
}

.err-btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background: rgba(85, 66, 116, 0.1);
  border: 2px solid #403159;
  backdrop-filter: blur(16px);
  border-radius: 32px;
  text-decoration: none;
  padding: 8px 32px;
  transition: all 0.3s;
}

.err-btn:hover {
  border: 2px solid #ffffff;
  transition: all 0.3s;
}


/* ADAPTATION */

@media (max-width: 1400px) {
  .ll {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .acc-nav,
  .acc-acc,
  .acc-tran {
    width: auto;
  }

  .col-2,
  .col-lg-4 {
    width: auto;
  }
}

@media (max-width: 992px) {
  .btn-login {
    margin: 0px;
  }

}

@media (max-width: 769px) {
  .trancs-list {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .q {
    float: none;
    margin-top: 20px;
  }

}

@media (max-width: 520px) {
  .notif-img {
    width: 300px;
  }
}

@media (max-width: 456px) {
  .main {
    margin-top: 100px;
  }

  .m-title {
    font-size: 28px;
  }

  .cl-nick {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
  }

  .my-acc-txt,
  .d-tit,
  .my-notif,
  .t-title {
    font-size: 20px;
  }

  .n-txt {
    font-size: 15px;
  }

  .change {
    font-size: 14px;
  }

  .acc-acc {
    /* height: 600px; */
  }

  footer {
    margin-top: 130px;
  }

  .notif-img {
    width: 200px;
  }


}

@media (max-width: 352px) {
  .cl-nick {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
  }

  .my-acc-txt,
  .d-tit,
  .my-notif {
    font-size: 18px;
  }

  .cl-nick {
    font-size: 16px;
  }

  .notif-img {
    width: 180px;
  }
}
